@import url("../../.cache/wal/colors-waybar.css");

* {
	border: none;
    font-family: "JetbrainsMono Nerd Font" ;
	font-size: 12px;
	min-height: 30px;
}
window#waybar {
	background: @background;
}

#network,
#battery,
#bluetooth,
#pulseaudio,
#clock,
#disk,
#privacy,
#idle_inhibitor,
#memory,
#cpu,
#network.disconnected,
#custom-power,
#tray,
#tray menu {

    color: @foreground;
    padding: 0 6px;
    margin: 0 2px;
}

#custom-power {
    padding-right: 9px;
}

#network:hover,
#battery:hover,
#bluetooth:hover,
#pulseaudio:hover,
#pulseaudio.muted,
#pulseaudio.muted:hover,
#clock:hover,
#disk:hover,
#idle_inhibitor.activated:hover,
#idle_inhibitor.deactivated:hover,
#memory:hover,
#cpu:hover,
#network.disconnected:hover,
#custom-power:hover { 

    color: @background;
    background: @foreground;
}
