@import url("../../.cache/wal/colors-waybar.css");

* {
    border: none;
    font-family: "JetbrainsMono Nerd Font";
    font-size: 12px;
    min-height: 30px;
    margin: 0px 3px;
}

window#waybar {
    /* background: alpha(@background, 0.8); */
    background: @background;
    border: 1px solid @foreground;
    border-radius: 8px;
    margin-top: 10px;  
}

#network,
#battery,
#bluetooth,
#pulseaudio,
#clock,
#disk,
#privacy,
#idle_inhibitor,
#memory,
#cpu,
#network.disconnected,
#custom-power,
#custom-launcher,
#tray,
#tray menu {
    color: @foreground;
    padding: 0px 8px;
    margin: 0px 0px;
    
}

#custom-power,
#custom-launcher {
    padding-right: 11px;
}

#network:hover,
#battery:hover,
#bluetooth:hover,
#pulseaudio:hover,
#pulseaudio.muted,
#pulseaudio.muted:hover,
#clock:hover,
#disk:hover,
#idle_inhibitor.activated:hover,
#idle_inhibitor.deactivated:hover,
#memory:hover,
#cpu:hover,
#network.disconnected:hover,
#custom-power:hover,
#custom-launcher:hover { 
    color: @background;
    background: @foreground;
    border-radius: 4px;
}
