@import url("../../.cache/wal/colors-waybar.css");

window {
  background-color: transparent;
}

button {
  color: @foreground;
  background: @background;
  border: 1px solid @foreground;
  border-radius: 8px;
  padding: 36px 44px;
  margin: 2px;
}

button:hover {
  color: @background;
  background: @foreground;
  transition: background-color 150ms ease-in-out;
}

button label {
  font-size: 36px;
}
